.help-page{
    text-align: center;
}
.help-page .header{
    background-color: #F3FBFF;
}

.help-page .padding{
    padding-top: 2.5rem;
    padding-bottom:2.5rem;
}

.expansion-panel .question{
    text-align: left;
    color: var(--hb-blue);
}


.help-page .divider{
    background-color: var(--hb-blue);
    width: 137px;
    height: 3px;
}

.help-page .contact-us{
    padding-bottom: 5rem !important;
}

.expansion-panel{
    margin: 1.5rem 0;
}

.expansion-panel .MuiExpansionPanelDetails-root {
    display: flex;
    padding: 8px 47px 16px;
}

.expansion-panel p{
    font-size: 16px;
}