:root {
  --hb-green: #00AB50;
  --hb-blue: #0F4C81;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'Poppins', sans-serif;
}

h1{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 83%;
  margin-bottom: 1rem;
}
h2{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 111%;
}

h5{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

p{
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content{
  padding: 1rem 2rem;
}
.green-button, .green-button:active, .green-button:focus{
  background-color: var(--hb-green) !important;
  color: #FFFFFF;
  padding: 0.1rem 1.25rem;
  border-color: transparent;
}

.blue-button{
  background-color: var(--hb-blue);
  border-radius: 0;
}
button, button:active, button:focus{
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  padding: 0.1rem 1.25rem;
  box-shadow: none !important;
}

.search-box{
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  padding-bottom: 0.25rem;
}

.search-box #search-box, .search-box #search-box:focus{
  border: 0px;
  width: 100%;
  box-shadow: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: black;
}

