:root {
  --hb-green: #00AB50;
  --hb-blue: #39A3FF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, p, a, input, span {
  font-family: 'Poppins', sans-serif !important;
}

h1{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 83%;
  margin-bottom: 1rem;
}
h2{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 111%;
}

h5{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

p, a, input{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

a:hover{
  text-decoration-line: underline;
}

.center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content{
  padding: 1rem 2rem;
}
.green-button, .green-button:active, .green-button:focus{
  background-color: var(--hb-blue) !important;
  color: #FFFFFF;
  padding: 0.1rem 1.25rem;
  border-color: transparent;
}

.blue-button{
  background-color: black;
}


.search-box #search-box, .search-box #search-box:focus{
  border: 0px;
  width: 100%;
  box-shadow: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: black;
}

.option-button{
  text-transform: none;
  display: flex;
  flex-direction: column;
}
.button-group-container{
  width: 100%;
  display: flex;
}
.button-group, .button-group:active, .button-group:focus, .button-group:not(:disabled):not(.disabled):active, .button-group:hover{
  border-radius: 0;
  border: 0;
  background-color: transparent;
  color: black;
  width: 50%;
}
.button-group-selected, .button-group-selected:active, .button-group-selected:focus, .button-group-selected:not(:disabled):not(.disabled):active, .button-group-selected:hover{
  background-color: var(--hb-blue);
  color: white;
  border-radius: 0;
  border: 0;
  width: 50%;
}
.form-control{
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color:black;
  font-weight: bold;
  border-color: transparent;
  border-bottom-color: #C4C4C4;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-color: transparent;
  border-bottom-color: #C4C4C4;
}

