:root {
    --hb-green: #00AB50;
    --hb-blue: #39A3FF;
}
.review-card{
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.review-card p{
    margin: auto;
}

.review-card #review{
    font-weight: bold;
    font-size: 12px;
}

.review-details{
    padding: 15px;
}
.review-details p{
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.review-details .MuiSvgIcon-root{
    font-size: inherit;
}

.review-details .row{
    margin: 5px -15px;
}

.review-footer{
    border-top: 1px solid #EEEEEE;
    padding: 10px 15px;
}
.review-footer p, .review-footer a{
    font-size: 11px !important;
    line-height: 15px;
    color: #000000;
    margin: auto 5px;
}

.review-footer .icon{
    font-size: 12px !important;
    margin:auto 0;
}

.review-footer .vote-button{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    padding:1px 1.5px;
    font-size: 11px !important;
    line-height: 15px;
    min-width: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.review-footer .vote-button-selected, .review-footer .vote-button.selected:hover{
    background-color: var(--hb-blue) !important;
}

.show-button{
    font-weight: 500 !important;
    font-size: 10px !important;
    line-height: 15px !important;

    color: #757575 !important;
    text-transform: none !important;
    padding: 0 !important;
}

.tag{
    background: #E0E0E0;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 10px;
}

.tag p{
    color: var(--hb-blue) !important;
}

.review-header{
    margin-bottom: 15px;
}
.review-header p{
    margin: auto 0;
}

.review-statistics h2{
    color: var(--hb-blue);
    margin: auto;
    font-weight: normal;
}

.review-statistics p{
    margin: auto 0;
}

.review-statistics .icon{
    font-size: 50px;
    color: var(--hb-blue);
    margin:auto;
}

.review-statistics .row{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 15px;
}

.review-statistics .col-3, .review-statistics .col-6{
    display: flex;
    padding-right: 5px;
    padding-left:5px;
}

.reviewee-card {
    padding: 1rem 0rem;
    border-bottom: 1px solid #ECECEC;
}

.reviewee-card h3{
    font-size: 24px;
    line-height: 167%;
    color: black;
}