:root {
    --hb-green: #00AB50;
    --hb-blue: #39A3FF;
}
.review-card{
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.review-card p{
    margin: auto;
}

.review-card #review{
    font-weight: bold;
    font-size: 14px;
}

.review-card h4{
    font-size: inherit !important;
}
.review-card #course-name{
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: var(--hb-blue);
    margin-bottom: 0.25rem;
}
.review-details{
    padding: 15px;
}
.review-details h5{
    margin-bottom: 0;
}
.review-details p{
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.review-details .bold{
    font-weight: 500;
}

.review-details .light{
    font-weight: 300;
}
.review-details .MuiSvgIcon-root{
    font-size: inherit;
}

.review-details .row{
    margin: 5px -15px;
}

.review-footer{
    border-top: 1px solid #EEEEEE;
    padding: 10px 15px;
}
.review-footer p, .review-footer a{
    font-size: 12px !important;
    line-height: 16px;
    color: #000000;
    margin: auto 5px;
}

.review-footer .icon{
    font-size: 12px !important;
    margin:auto 0;
}

.review-footer .vote-button{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    padding:1px 1.5px;
    font-size: 11px !important;
    line-height: 15px;
    min-width: 30px;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 22px;
}

.review-footer .vote-button-selected, .review-footer .vote-button.selected:hover{
    background-color: var(--hb-blue) !important;
    border-color: transparent;
    color: white;
}

.show-button{
    font-weight: 500 !important;
    font-size: 10px !important;
    line-height: 15px !important;

    color: #757575 !important;
    text-transform: none !important;
    padding: 0 !important;
}

.tag{
    background: #F3FBFF;
    border-radius: 30px !important;
    padding: 5px 15px !important;
    margin: 5px 10px !important;
}

.review-form label{
    font-size: 18px;
    font-weight: 500;
}
@media (max-width: 767.98px){
    .review-form label{
        font-size: 16px;
    }
}

.review-form .form-group{
    margin-bottom: 2rem;
}
.review-form .tags-button-group{
    margin-right: -10px;
    margin-left: -10px;
    display: block;
}

.review-form .tag-button, .review-form .tag-button:hover,.review-form .tag-button:focus{
    border: 1px solid var(--hb-blue) !important;
    color: black;
    background-color: white !important;
    height: auto;
    outline: 0!important;
}

.review-form .tag-button-selected, .review-form .tag-button-selected:focus{
    color: white  !important;
    background-color: var(--hb-blue) !important;
    height: auto;
    outline: 0!important;
}

.review-header{
    margin-bottom: 15px;
}
.review-header p{
    margin: auto 0;
}

.write-review{
    background: #FCFCFC;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.review-statistics h2{
    color: var(--hb-blue);
    margin: auto;
    font-weight: normal;
}

.review-statistics p{
    margin: auto 0;
}

.review-statistics .icon{
    font-size: 50px;
    color: var(--hb-blue);
    margin:auto;
}

.review-statistics .row{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 15px;
}

.review-statistics .col-3, .review-statistics .col-6{
    display: flex;
    padding-right: 5px;
    padding-left:5px;
}
.review-statistics-web{
    margin:2rem 0rem;
}
.review-content-header{
    padding: 1rem 0;
    border:1px solid #F4F4F4; 
    border-right: 0;
    border-left: 0;
}
.reviewee-card {
    padding: 0.25rem 0 !important;
    border-bottom: 1px solid #ECECEC !important;
}

.reviewee-card .reviewee-card-content{
    width: 100%;
    text-transform: none;
    text-align: left;
}

.reviewee-card h3{
    font-size: 24px;
    line-height: 167%;
    color: black;
}

.recent-review h1{
    z-index:1;
    font-weight:600;
    width: max-content;
}
.recent-review .h1-wrapper{
    padding-top: 4rem;
}
.recent-review .recent-review-card{
    background-color: #EDF7FF;
    padding: 4rem 3rem !important;
    padding-bottom: 2rem !important;
    height:400px;
    width: 600px;
}

.recent-review .recent-review-card #quote{
    font-size: 65px;
    color: #39A3FF;
    position: absolute;
    top: -100px;
    left: -5px
}
.recent-review .recent-review-card p{
    margin-bottom: 0;
}
/*SM*/
@media (max-width: 767px) {
    .reviewee-card h3{
        font-size: 18px;
    }
    .reviewee-card p{
        font-size: 14px;
    }
    .write-review{
        background: transparent;
        border: 1px solid transparent;
        box-sizing: border-box;
        padding: 0;
    }
    .recent-review h1{
        font-size: 48px;
        width: min-content;
    }
    .recent-review .recent-review-card{
        padding-right: 1rem !important;
        padding-left: 2rem !important;
    }
    .recent-review .h1-wrapper{
        padding:2rem 0;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .write-review{
        background: transparent;
        border: 1px solid transparent;
        box-sizing: border-box;
        padding: 0;
    }
}