.search-box{
  margin-top: 15px;
  margin-bottom: 15px;
  background: #FFFFFF;
  border-radius: 10px;
}
.search-box .border{
  border: 1px solid #C4C4C4 !important;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right-color: transparent !important;
}
.search-box .search-input, .search-box .search-input:focus{
  border: 0px;
  /* width: 100%; */
  box-shadow: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: black;
}

.search-box .search-button{
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 0 !important;
  height:100%;
  background-color: var(--hb-blue) !important;
  color: white;
}

.search-box .dark-search-button{
  background-color: #40444D !important;
}
.search-box .search-input-wrapper{
  padding: 0.5rem .75rem !important;
}

.search-box .MuiInput-underline::before, .search-box .MuiInput-underline::after, .search-box .MuiInput-underline:hover:not(.Mui-disabled):before, .search-box .MuiInput-underline:focus{
  border-bottom: 0px;
}

.search-box .left-border{
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

/*SM*/
@media (max-width: 767px){
  .search-box .left-border{
    border-left: 0px solid;
  }

  .search-box .border{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-color: transparent !important;
    border-right-color: #C4C4C4 !important;
  }
  .search-box .search-input-wrapper{
    /* border-bottom: 1px solid #c4c4c4; */
    padding: 0.5rem .75rem !important;
  }
}

/*MD*/
@media (min-width: 768px) and (max-width: 991.98px){
}
@media (min-width: 992px) {
  .search-box .search-input-wrapper input{
    font-size: 20px;
  }
}


.search-box-popup .text-button{
  border-bottom: 1px solid #E4E4E4;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  justify-content: left;
}

.nav-item .search-box, .nav-item .search-box div, .nav-item .search-box form, .nav-item .search-box input{
  height: inherit;
  font-size: 14px;
}
.nav-item .search-box{
  margin: 0;
}